/* general style, center scale with size */
html {
	box-sizing: border-box;
	background: #333;
	color: whitesmoke;
	min-height: 100vh;
	font-size: 1.5rem;
	padding: 0 10% 10%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* reset all styles for links */
a {
	color: inherit;
	text-decoration: none;
}

/* don't know why this is here but it came with create-react-app */
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.postLink li {
	list-style-type: none;
}

.postLink li:hover {
	background-color: #424242;
}

/* set post-img size relative to parent component */
.post-img {
	width: 100%;
	height: auto;
	margin: 10px 0;
}
/* pust a bit of space above ane below each card, we can change this later to make the post card itself put space above and below */
.post {
	padding: 20px;
}
.post h2 {
	margin-top: 50px;
}
.post h3 {
	margin-bottom: 50px;
}
